

<div class="container">
    <div *ngIf='_projectsData'>
            <mat-card class="card">
                <mat-card-title-group>
                    <mat-card-title>{{ _projectsData.projectName }}</mat-card-title>
                    <mat-card-subtitle>{{ _projectsData.category }}</mat-card-subtitle>
                </mat-card-title-group>
                <mat-card-content>
                    <h4 class="sameLine"><strong>Project Start Date: </strong></h4><p class="sameLine">{{ _projectsData.projectStartDate | date:'E, d MMM, y' }}</p><br>
                    <h4 class="sameLine"><strong>Project End Date: </strong></h4><p class="sameLine">{{ _projectsData.projectEndDate | date:'E, d MMM, y' }}</p><br>
                    <h4 class="sameLine"><strong>References: </strong></h4><p class="sameLine"><a href="{{ _projectsData.references }}" target="_blank"> {{ _projectsData.references }} </a></p><br>
                    <h4 class="sameLine"><strong>Contact Name: </strong></h4><p class="sameLine">{{ _projectsData.contactName }}</p><br>
                    <h4 class="sameLine"><strong>Contact Email: </strong></h4><p class="sameLine">{{ _projectsData.contactEmail }}</p><br>
                    <h4 class="sameLine"><strong>Contact Phone Number: </strong></h4><p class="sameLine">{{ _projectsData.contactPhoneNumber }}</p><br>
                    <h4 class="sameLine"><strong>Project Cost: </strong></h4><p class="sameLine">{{ _projectsData.cost }} €</p><br>
                    <h4 class="sameLine"><strong>Comments: </strong></h4><p class="sameLine">{{ _projectsData.comments }}</p><br>
                </mat-card-content>
                <mat-card-actions align='end'>
                    <button mat-stroked-button style="color: blueviolet; border-radius: 20px;"(click)="openDialogAddTask()">ADD TASK</button>
                    <button mat-stroked-button style="color: forestgreen; border-radius: 20px; margin-left: 4px;" (click)="editProjectDetails(_projectsData)">EDIT</button>
                    <button mat-stroked-button style="color: royalblue; border-radius: 20px; margin-left: 4px;" (click)="backProjectListPage()">BACK</button>
                    <button mat-stroked-button style="color: orangered; border-radius: 20px; margin-left: 4px;" (click)="backCalendarPage()">CALENDAR</button>
                </mat-card-actions>
            </mat-card>
    </div>
</div>
<div class="container">
    <div *ngIf='_projectRelatedTasks'>
        <md-content layout-xs="column" layout="row">
            <mat-card class="card taskCard" *ngFor="let relatedTask of _projectRelatedTasks" ng-repeat="item in items">
                <mat-card-title-group>
                    <mat-card-title>{{ relatedTask.projectName }}</mat-card-title>
                    <mat-card-title>{{ relatedTask.taskName }}</mat-card-title>
                    <mat-card-title>{{ relatedTask.taskId }}</mat-card-title>
                </mat-card-title-group>
                <mat-card-content>
                    <h4 class="sameLine"><strong>Task Date: </strong></h4><p class="sameLine">{{ relatedTask.taskDate | date:'E, d MMM, y' }}</p><br>
                    <h4 class="sameLine"><strong>Task Deadline: </strong></h4><p class="sameLine">{{ relatedTask.taskDeadline | date:'E, d MMM, y' }}</p><br>
                    <h4 class="sameLine"><strong>References: </strong></h4><p class="sameLine">{{ relatedTask.references}}</p><br>
                    <h4 class="sameLine"><strong>Comments: </strong></h4><p class="sameLine">{{ relatedTask.comments }}</p><br>
                </mat-card-content>
                <mat-card-actions [align]="'end'">
                    <button mat-stroked-button style="color: forestgreen; border-radius: 20px; margin-left: 4px;" (click)="editTask(relatedTask)">EDIT</button>
                    <button mat-stroked-button style="color: royalblue; border-radius: 20px; margin-left: 4px;" (click)="taskListPage()">TASKS LIST</button>
                    <button mat-stroked-button style="color: rgb(65, 225, 78); border-radius: 20px; margin-left: 4px;" (click)="taskDone()">DONE</button>
                </mat-card-actions>
            </mat-card>
        </md-content>
    </div>
</div> 
<!-- 
<div class="container">
    <div *ngIf='_projectRelatedTasks'>
        <mat-list role="list" *ngFor="let relatedTask of _projectRelatedTasks" ng-repeat="item in items">
            <mat-list-item role="listitem" matNavList="list">{{ relatedTask.taskName }}</mat-list-item>
            <mat-list-item role="listitem" matNavList="list"><h4 class="sameLine"><strong>Task Date: </strong></h4><p class="sameLine">{{ relatedTask.taskDate | date:'E, d MMM, y' }}</p></mat-list-item>
            <mat-list-item role="listitem" matNavList="list"><h4 class="sameLine"><strong>Task Deadline: </strong></h4><p class="sameLine">{{ relatedTask.taskDeadline | date:'E, d MMM, y' }}</p></mat-list-item>
            <mat-list-item role="listitem" matNavList="list"><h4 class="sameLine"><strong>References: </strong></h4><p class="sameLine">{{ relatedTask.references}}</p></mat-list-item>
            <mat-list-item role="listitem" matNavList="list"><h4 class="sameLine"><strong>Comments: </strong></h4><p class="sameLine">{{ relatedTask.comments }}</p></mat-list-item>
            <div class="container">
                <mat-card-actions [align]="'end'">
                             <button mat-stroked-button style="color: forestgreen; border-radius: 20px; margin-left: 4px;" (click)="editTask(_tasksData)">EDIT</button>
                             <button mat-stroked-button style="color: royalblue; border-radius: 20px; margin-left: 4px;" (click)="taskListPage()">TASKS LIST</button>
                         </mat-card-actions>
                     </div>
        </mat-list>
        
    </div>
    
</div>  -->

    
<div *ngIf='!_projectsData'>
    Loading...
</div>
<div *ngIf='!_projectRelatedTasks'>
    Loading...
</div>    

