.card {
  max-width: 60vw;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.sameLine {
  display: inline;
}

#divChart {
  display: block;
  width: 100px;
  height: 100px;
}
