app-root {
  display: block;
  background-image: url("/assets/homepage_background.png");
}

.button {
  border-radius: 20px;
  text-transform: uppercase;
}

$background-img: "../assets/";

body {
  background: url(#{$background-img}/logo.png);
}
