<h1 mat-dialog-title style="text-transform: uppercase; font-weight: bold; text-align: center;">{{ dialogTitel }}</h1>
<div mat-dialog-content>
    <form [formGroup]="projectForm">
        <mat-form-field appearance="outline">
            <mat-label><mat-icon matSuffix>category</mat-icon> Category</mat-label>
            <input formControlName="category" matInput placeholder="Category">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label><mat-icon matSuffix>local_offer</mat-icon> Project Name</mat-label>
            <input formControlName="projectName" matInput placeholder="Project Name">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Project Date</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input formControlName="projectStartDate" matStartDate placeholder="Start date">
              <input formControlName="projectEndDate" matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label><mat-icon matSuffix>link</mat-icon> References</mat-label>
            <input formControlName="references" matInput placeholder="References">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label><mat-icon matSuffix>contacts</mat-icon> Contact Name</mat-label>
            <input formControlName="contactName" matInput placeholder="Ex. Seiji Ozawa">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label><mat-icon matSuffix>email</mat-icon> Contact Email</mat-label>
            <input type="email" formControlName="contactEmail" matInput [formControl]="emailFormControl" placeholder="Ex. info@mail.com"> 
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label><mat-icon matSuffix>phone</mat-icon> Contact Phone Number</mat-label>
            <input type="number" formControlName="contactPhoneNumber" matInput placeholder="Ex. 3725512312">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label> <mat-icon matSuffix>euro_symbol</mat-icon> Cost</mat-label>
            <input formControlName="cost" matInput type="number" placeholder="€ ">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Comments</mat-label>
            <textarea formControlName="comments" matInput placeholder="Comments"></textarea>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-action [align]="'end'" style="margin-top: 25px;">
    <button mat-stroked-button mat-dialog-close style="color: orangered; border-radius: 20px; margin-right: 4px;">Close</button>
    <button mat-stroked-button (click)="addProject()" style="color: forestgreen; border-radius: 20px; margin-left: 4px;">{{ saveButton }}</button>
</div>


