<div class="container">
    <div class="row">
        <div class="col col-auto"><button type="button" class="button" mat-flat-button color="warn" (click)="openDialog()">add project</button></div>
        <div class="col col-auto"><button type="button" class="button" mat-flat-button color="warn">add task</button></div>
        <div class="col col-auto"><button type="button" class="button" mat-flat-button color="warn">delete</button></div>
        <div class="col col-auto"><button type="button" class="button" mat-flat-button color="warn">archive</button></div>
    </div>
  </div>
  <!-- <div class="container">
    <table mat-table [dataSource]="projectData"></table>
  </div> -->

<router-outlet></router-outlet>
